@media (min-width: 376px) and (max-width: 1440px){
#bg_img
{
  background: url("../images/bg-intro-desktop.png") no-repeat center center fixed;
  background-size: cover;
  //background-color: hsla(0, 100%, 74%,0.8) ;
  background-color: #CCC;

}
#first-section{
  padding-top: 160px;
}
main{
  height: 100vh;
  padding-top: 120px;
}
}
@media (max-width: 375px){
  #bg_img
{
  background: url("../images/bg-intro-mobile.png") no-repeat center center fixed;
  background-size: cover;
  background-color: hsla(0, 100%, 74%,0.8) ;
  //background-color: #CCC;

}
#first-section{
  padding-bottom: 60px;
}
  main{
    height: 170vh;
    padding-top: 100px;
}
}
/*channge background according to screen resolution*/
html,body{
  height: 100%;
  font-family: 'Poppins', sans-serif !important;

  font-size: 16px !important;
  font-weight: 400, 500, 600, 700 !important;

}

h1{
  font-weight: 800 !important;
  padding-bottom: 30px;
  margin-bottom: 0px !important;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section header p{
  margin-bottom: 0px;
}
footer{
  position: absolute;
  padding: 1em;
  bottom: 0;
  left: 0;
  right: 0;

}
footer div p {  // Selects text inside a <p> tag that is inside a .footer <div>
   margin-bottom: 0; // removes default <p> tag margin from the bottom



}
.btn{
  width: 100%;
  background-color: hsl(154, 59%, 51%) !important;
}
.card-body{
  padding: 40px !important;
  //color: hsl(249, 10%, 26%) !important;
  color:hsl(248, 32%, 49%);
}

#red_text{
  color: hsl(0, 100%, 74%);
}

small{
  color: hsl(246, 25%, 77%)
}

.card-purple{
  background-color: hsl(248, 32%, 49%) ;
  border-radius: 10px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

}
.card-purple-margin{
  margin-bottom: 24px;
  border-radius: 10px !important;
  border: 0px !important;
}
.last-element-of-formm-group{
  margin-bottom: 0px !important;
}

.shadow{
   box-shadow: 0 0.5rem 0rem rgba(0, 0, 0, 0.15) !important;
}
