#bg_img
{
  background: url("../images/bg-intro-desktop.png") no-repeat center center fixed;
  background-size: cover;
  background-color: hsla(0, 100%, 74%,0.8) ;
}

html,body{
  height: 100%;
}
main{
  height: 100vh;
}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-purple{
  background-color: hsl(248, 32%, 49%) ;
  border-radius: 20px;
}
